
.button-class {
  border: 8px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: grid;
  column-count: 3;
  height: 100%;
  width: 35vw;
  font-size: 35px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #e65858;
  color: black;
  border: 2px solid #e0252e;
}

button.button-class:first-letter {
  text-transform: capitalize;
  text-align: center;
  color: black;
}

html, 
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
}

button:first-letter, h5 {
  text-transform: capitalize;
  text-align: center;
  color: black;
}

modal-title:first-letter, h1 {
  text-transform: capitalize;
  text-align: center;
  color: #e0252e;
}
